.haticon {
    width: 16px;
    margin: 2px 3px 0px;
    border-radius: 4px;
    font-size: 10px;
    color: rgb(119, 119, 119);
    background: rgb(245, 245, 245);
    
    overflow: hidden;
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 4px;
}
.tag {
    margin: 2px 3px 0px;
    border-radius: 4px;
    font-size: 10px;
    color: rgb(119, 119, 119);
    background: rgb(245, 245, 245);
    
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
    height: 32px;
}

.tag-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0px -3px -5px;
}



