.dogsbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0px;
    height: 50px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.dogsdescription {
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

}

.avatar {

}

.dogprofile {
padding: 16px;
display: flex;
}

.doginfo {
  display: inline-block;
  padding-left: 8px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tags {
  display: flex;
  justify-content: space-between;
}
